@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
      --background: #171717;
    --foreground: 210 20% 98%;
      --card: #171717;
    --card-foreground: 210 20% 98%;
      --popover: #171717;
    --popover-foreground: 210 20% 98%;
      --primary: #B88AFD;
    --primary-foreground: 210 20% 98%;
      --secondary: #1E1E1E;
    --secondary-foreground: 210 20% 98%;
      --muted: #1E1E1E;
    --muted-foreground: 217.9 10.6% 64.9%;
      --accent: #1E1E1E;
    --accent-foreground: 210 20% 98%;
      --destructive: #FB9B9A;
    --destructive-foreground: 210 20% 98%;
      --cyan: #11EDE9;
      --dark-cyan: #124342;
      --grey: #515151;
      --neutral: #939393;
      --border: #1E1E1E;
      --input: #1E1E1E;
      --ring: #B88AFD;
      --radius: 0.75rem;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    background: #1E1E1E !important;
    caret-color: white !important;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@layer base {
  * {
    @apply border-border;
      box-sizing: border-box;
  }
  body {
    @apply bg-background text-foreground;
  }
}